* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */;
}

button{
	outline: none;
}

html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;	
}

body{
	/*font-family: Helvetica, Arial, Sans-serif;*/
	font-family: Georgia,"Times New Roman";
	/*background-color: #131313;*/
	color: white;
}

nav{
	display: block;
	width: 100%;
	height: 50px;
	padding: 0;
	margin: 0;
	border: 0;
	background: rgb(150, 138, 111);
	font-family: Georgia,"Times New Roman"
}

	nav a:link,
	nav a:visited,
	nav a:active,
	nav a:hover{
		color: white;
		outline: 0;
		text-decoration: none;
	}

	nav #home{
		display: inline-block;
		float: left;
		border: 1px solid white;
		padding: 5px;
		margin: 10px 0 10px 20px;
		vertical-align: baseline;
	}

	nav #about,
	nav #my-collection{
		display: inline-block;
		vertical-align: baseline;
		float: right;
		padding: 5px;
		margin: 13px 20px 7px 0;
		font-size: 13px;
		/*font-weight: bold;*/
		letter-spacing: 1px;
		font-family: Helvetica, Arial, Sans-serif;
	}

/*-------------------- HOME --------------------*/

div#bg{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background-size: cover;
	background-position: top;
	/*background-image: url*/	
}

div#logo{
	position: absolute;
	top: calc(50% - 210px);
	left: calc(50% - 400px);
	width: 800px;
	/*height: 420px;*/
	/*border: 16px solid rgb(110, 42, 231);*/
	border: none;
	background-color: rgba(150, 138, 111, 0.85);
	cursor: default;
	color: #131313;
	border-radius: 20px;
	text-align: center;
	padding: 20px;
}

	div#logo img{
		width: 200px;
		margin-bottom: 10px;
	}

	div#logo #title{
		display: inline-block;
		border: 4px solid #131313;
		padding: 10px;
		margin: 0;
		font-weight: normal;
		font-size: 48px;
	}

	div#logo #tagline{
		font-size: 21px;
	}	

	div#logo a{
		display: inline-block;
		background-color: #131313;
		color: rgb(150, 138, 111);
		padding: 10px;
		margin: 0;
		font-weight: normal;
		font-size: 16px;
		min-width: 120px;
		font-family: Helvetica, Arial, Sans-serif;
		font-weight: bold;
		border-radius: 5px;
	}

	div#logo a#enter-bt:link,
	div#logo a#enter-bt:visited,
	div#logo a#enter-bt:active,
	div#logo a#enter-bt:hover{
		outline: none;
		text-decoration: none;
	}		

/*------------------- GALLERY ------------------*/

div#container{
	display: block;
	min-height: calc(100% - 50px);
	width: 100%;
	text-align: center;
	/*margin: 10px;*/
	padding: 10px;
	border: 0;
	margin: 0;
	background-color: #131313;
}

	div#container hr.page-counter{
		visibility: hidden;
		display: inline-block;
		vertical-align: middle;
		height: calc(40vh - 100px);
		width: 1px;
		border: 0;
		margin: 0;
		padding: 0;
	}

	div#container .item{
		display: inline-block;
		vertical-align: middle;
		margin: 2px;
		padding: 0;
		border: 0;
		/* width: calc(20% - 20px);*/
	}

		div#container .item img{
			/*width: 100%;*/
			height: calc(40vh - 100px);
			width: auto;
			cursor: zoom-in;
			cursor: -webkit-zoom-in;
			cursor: -moz-zoom-in;

			-webkit-transition: border .40s;
			-o-transition: border .40s;
			-moz-transition: border .40s;
			transition: border .40s;
			border: 8px solid #131313;
		}

		div#container .item img.selected{
			-webkit-transition: border .40s;
			-o-transition: border .40s;
			-moz-transition: border .40s;
			transition: border .40s;	
			border: 8px solid rgb(150, 138, 111);
		}

/*--------------- RECOMMENDATION ---------------*/

	div#container .main{
		width: 100%;
		display: block;
	}

	div#container hr.recommendation{
		border: none;
		height: 2px;
		background-color: rgb(150, 138, 111);
	}

	h2{
		text-align: center;
		font-size: 21px;
		font-weight: normal;
		color: rgb(150, 138, 111);
	}

	button{
		border: none;
		background-color: rgb(150, 138, 111);
		color: #131313;
		padding: 10px;
		margin: 10px 0;
		font-size: 13px;
		border-radius: 5px;
		font-weight: bold;
		min-width: 120px;
	}

	div.pop-up{
		position: fixed;
		width: 160px;
		top: 100%;
		left: calc(50% - 80px);
		padding: 20px;
		border-radius: 10px;
		text-align: center;
		background-color: rgba(150, 138, 111, 0.8);
		color: white;
		font-size: 16px;
		font-family: Georgia,"Times New Roman"
	}

/*------------------- ABOUT --------------------*/	
div#about-page{
	width: 100%;
	height: 100%;
	background-color: white;
	color: #131313;
	text-align: center;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 15px;
	line-height: 24px;
	margin: 0;
	border: 0;
}
	div#about-page div#about-container{
		display: inline-block;
		width: 680px;
		text-align: left;
		padding: 20px;
	}
		div#about-page div#about-container img{
			max-width: 100%;
		}

		div#about-page div#about-container h1,
		div#about-page div#about-container h2{
			margin: 21px 0 0 0;
			font-family: Georgia,"Times New Roman";
			font-weight: normal;
			color: rgb(150, 138, 111);
			text-align: left;
		}

		div#about-page div#about-container h1{
			margin-bottom: 6px;
		}

		div#about-page div#about-container p{
			margin: 0;
		}

		div#about-page div#about-container a:link,
		div#about-page div#about-container a:visited,
		div#about-page div#about-container a:active,
		div#about-page div#about-container a:hover{
			color: rgb(150, 138, 111);
			outline: 0;
			font-weight: bold;
		}

/*----------------- COLLECTION -----------------*/	

div#container div.item p.description{
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 11px;
	text-align: left;
	color: rgb(150, 138, 111);
	word-wrap: break-word;
	line-height: 15px;
	padding: 0 8px;
	margin: 0;
}

div#embed_map_here{
	display: inline-block;
	text-align: center;
	margin: 20px 0;
}

/*div#embed_map_here svg{
	display: inline-block;
	text-align: center;
}*/

/*------------------- LOADER -------------------*/

.spinner{
  width: 3em;
  margin: 1em auto;
  display: inline-block;
  vertical-align: middle;
}

.spinner div{
  width: 3em;
  height: 3em;
  margin: 1em auto;
  padding: 1em 0;
  position:relative;
  border-radius: 100%;
  border: 4px solid rgb(150, 138, 111);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  -webkit-animation:rotate 1s ease infinite;
  -moz-animation:rotate 1s ease infinite;
  -o-animation:rotate 1s ease infinite;
  animation:rotate 1s ease infinite;
}
@-webkit-keyframes rotate { 0%{ -webkit-transform:rotate(360deg) } }
@-moz-keyframes rotate { 0%{ -moz-transform:rotate(360deg) } }
@-o-keyframes rotate { 0%{ -o-transform:rotate(360deg) } }
@keyframes rotate { 0%{ transform:rotate(360deg) } }
@-webkit-keyframes nk{ 50%{ opacity:0 } }
@-moz-keyframes win { 50%{ opacity:0 } }
@-o-keyframes wink{ 50%{ opacity:0 } }
@keyframes wink{ 50%{ opacity:0 } }


/*----------------- RESPONSIVE -----------------*/
/* TABLETS */
@media screen and (max-width: 885px) {
	/* div#container .item {
		width: calc(33% - 20px);
	}*/

	div#container .item img{
		/*height: calc(30vh - 100px);*/
	}
}

/* MOBILE */
@media screen and (max-width: 750px) {
	/* div#container .item {
		margin: 5px;
		width: calc(50% - 10px);
	}*/
	div#container hr.page-counter,
	div#container .item img{
		height: calc(30vh - 100px);
	}	
}

/*----------------- RESPONSIVE -----------------*/

div#printable{
	text-align: center;
	margin: 10px;
	border: 0;
	padding: 0;
	color: black;
}

	div#printable #logo{
		width: 25%;
	}

	div#printable h1{
		font-size: 32px;
		font-weight: normal;
		border: 4px solid #131313;
		padding: 10px;	
		display: inline-block;	
	}

	div#printable .item{
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 0;
		border: 0;
		width: 25%;
		height: 20%;
/*		max-width: 25%;
		max-height: 20%;		*/
	}

		div#printable .item img,
		div#printable .item p{
			/*height: calc(20% - 100px);
			width: auto;*/
			max-height: calc(100% - 20px);
			max-width: 100%;
			text-align: left;
			font-family: Helvetica, Arial, Sans-serif;
			color: black;
		}

		div#printable .item p{
			font-size: 8px;
		}

		div#printable div#embed_map_here,
		div#printable div#embed_map_here svg{
			height: 1040px;
		}