* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */;
}

body{
	font-family: Helvetica, Arial, Sans-serif;
	/*background-color: #131313;
	color: white;*/
}

nav{
	display: inline-block;
	width: 100%;
	padding: 0 10px;
	background: #9E0508;
}

	nav a:link,
	nav a:visited,
	nav a:active,
	nav a:hover{
		color: white;
		outline: 0;
	}

	nav #home{
		display: inline-block;
		float: left;
	}

	nav #my-collection{
		display: inline-block;
		float: right;
	}


/*-------------------- HOME --------------------*/

div#container{
	text-align: center;
	margin: 10px;
	border: 0;
	padding: 0;
}

	div#container hr.page-counter{
		visibility: hidden;
		display: inline-block;
		vertical-align: middle;
		height: calc(40vh - 100px);
		width: 1px;
		border: 0;
		margin: 0;
		padding: 0;
	}

	div#container .item{
		display: inline-block;
		vertical-align: middle;
		margin: 10px;
		padding: 0;
		border: 0;
		/* width: calc(20% - 20px);*/
	}

		div#container .item img{
			/*width: 100%;*/
			height: calc(40vh - 100px);
			width: auto;
		}


/*--------------- RECOMMENDATION ---------------*/

	div#container .main{
		width: 100%;
		display: block;
	}

	h3{
		text-align: center;
	}


/*------------------- LOADER -------------------*/

.spinner{
  width: 3em;
  margin: 1em auto;
  display: inline-block;
  vertical-align: middle;
}

.spinner div{
  width: 3em;
  height: 3em;
  margin: 1em auto;
  padding: 1em 0;
  position:relative;
  border-radius: 100%;
  border: 4px solid #9E0508;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  -webkit-animation:rotate 1s ease infinite;
  -moz-animation:rotate 1s ease infinite;
  -o-animation:rotate 1s ease infinite;
  animation:rotate 1s ease infinite;
}
@-webkit-keyframes rotate { 0%{ -webkit-transform:rotate(360deg) } }
@-moz-keyframes rotate { 0%{ -moz-transform:rotate(360deg) } }
@-o-keyframes rotate { 0%{ -o-transform:rotate(360deg) } }
@keyframes rotate { 0%{ transform:rotate(360deg) } }
@-webkit-keyframes nk{ 50%{ opacity:0 } }
@-moz-keyframes win { 50%{ opacity:0 } }
@-o-keyframes wink{ 50%{ opacity:0 } }
@keyframes wink{ 50%{ opacity:0 } }


/*----------------- RESPONSIVE -----------------*/
/* TABLETS */
@media screen and (max-width: 885px) {
	/* div#container .item {
		width: calc(33% - 20px);
	}*/

	div#container .item img{
		/*height: calc(30vh - 100px);*/
	}
}

/* MOBILE */
@media screen and (max-width: 750px) {
	/* div#container .item {
		margin: 5px;
		width: calc(50% - 10px);
	}*/
	div#container hr.page-counter,
	div#container .item img{
		height: calc(30vh - 100px);
	}	
}